{
	"id":"state-estimator",
	"description":"State Estimator",
	"creator":"PNNL",
	"inputs":["/topic/goss.gridappsd.fncs.output","/topic/goss.gridappsd.se.input"],
	"outputs":["/topic/goss.gridappsd.se.requests","/topic/goss.gridappsd.se.system_state"],
	"options":["(simulationId)"],
	"execution_path":"service/bin/state-estimator.out",
	"type":"exe",
	"launch_on_startup":true,
        "prereqs":["fncs","fncsgossbridge"],
	"multiple_instances":true,
	"environmentVariables":[]
}
