{
    "id":"state-estimator",
    "description":"State Estimator",
    "creator":"PNNL",
    "inputs":["/topic/goss.gridappsd.fncs.output","/topic/goss.gridappsd.se.input"],
    "outputs":["/topic/goss.gridappsd.se.requests","/topic/goss.gridappsd.se.system_state"],
    "static_args":["(simulationId)","(request)"],
    "execution_path":"services/gridappsd-state-estimator/state-estimator/bin/state-estimator",
    "type":"EXE",
    "launch_on_startup":false,
    "prereqs":[],
    "multiple_instances":true,
    "environmentVariables":[],
    "user_input": {
        "use-sensors-for-estimates": {
            "help": "Use measurements from the sensor-simulator service, if the sensor-simulator is configured, to generate state estimates rather than using simulation measurements",
            "help_example": false,
            "default_value": true,
            "type": "bool"
        }
    }
}
